<hr class="mt-5">
<script src="https://giscus.app/client.js"
        data-repo="catatandeveloper/giscus"
        data-repo-id="R_kgDOQsd1FA"
        data-category="General"
        data-category-id="DIC_kwDOQsd1FM4C0D6e"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        asycn>
</script>