<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="navbar-brand text-white" href="{{ relLangURL nil }}">
      <img src="/images/logo.png" alt="" width="40">
      <span class="name-title mx-2">Catatan Developer</span>
    </a>

    <!-- Search + Theme (selalu di kanan, tapi urutan beda di desktop vs mobile) -->
    <div class="d-flex ms-auto me-2 order-lg-2">
      <!-- Search -->
      <button type="button" class="btn search " data-bs-toggle="modal" data-bs-target="#searchpage">
        <svg  xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
          width="24px" fill="#e3e3e3">
          <path
            d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z" />
        </svg>
      </button>

      <button id="theme-toggle" class="btn">
        <span id="theme-icon">
        </span>
      </button>


    </div>

    <!-- Hamburger (untuk mobile) -->
    <button class="navbar-toggler order-lg-3" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse Menu (hanya menu items) -->
    <div class="collapse navbar-collapse order-lg-1" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 ms-lg-auto">
        {{ range site.Menus.main }}
        {{ $url := relLangURL .URL }}
        {{ if isset .Params "format" | and .Page }}
        {{ $url = (.Page.OutputFormats.Get .Params.format).RelPermalink }}
        {{ end }}
        <li class="nav-item">
          <a class="nav-link text-white" href="{{ $url }}">{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</nav>